@page
@model Hilerrøds_sejle.Pages.Bookings.IndexModel
@{
}

<h1 class="mb-4">Bookings</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (var booking in Model.Bookings)
    {
        @await Html.PartialAsync("_BookingCard", booking)
    }
</div>

<a href="Bookings/Opret"><button type="submit" class="btn btn-primary">Opret Booking</button></a>
