@page
@model Hilerrøds_sejle.Pages.Bookings.SletModel
@{
}

<h1>Er du sikker på du vil slette et booking?</h1>

<hr />

<div>
    <h5>Booking:</h5>
    <dl>
        @await Html.PartialAsync("_BookingCard", Model.BookingToDelete)
    </dl>

    <form method="post">
        <input type="hidden" name="id" value="@Model.BookingToDelete.Id" />
        <button type="submit" class="btn btn-danger">Slet</button>
        <a asp-page="Index" class="btn btn-secondary">Annuller</a>
    </form>
</div>
