@page
@model Hilerrøds_sejle.Pages.Blogs.IndexModel
@{
}

<h2>Blog</h2>
<a asp-page="/Blogs/Opret" class="btn btn-success mb-3">Opret nyt Blog</a>
<ul>
    @foreach (var blog in Model.Blogs)
    {
        <li>
            <strong>@blog.Titel</strong> - @blog.Content
            <a asp-page="/Blogs/Rediger" asp-route-id="@blog.Id" class="btn btn-primary btn-sm ms-2">
                Rediger
            </a>
            <a asp-page="/Blogs/Slet" asp-route-id="@blog.Id" class="btn btn-danger btn-sm ms-2">
                Slet
            </a>
        </li>
    }
</ul>