@page
@model Hilerrøds_sejle.Pages.Blogs.IndexModel
@{
}

<h2> Blog </h2>
<ul>
    <a asp - page = "/Blog/Opret" class= "btn btn-success mb-3" > Opret nyt Blog</a>
    @foreach (var  blog in Model.Blogs)
{
            <li >
                <strong > @blog.Titel </strong > – @blog.Content)
            </li >
    }
</ul >