@page
@model Hilerrøds_sejle.Pages.Blogs.SletModel
@{
}

<h2> Bekræft sletning </h2 >
<p> Er du sikker på, at du vil slette denne Blog?</p>

<div>
    <strong>
        Titel:</strong > @Model.BlogToDelete.Titel <br/>
        < strong > Content:</strong > @Model.BlogToDelete.Content
</div>

        <form method = "post">
        <input type = "hidden" asp -for= "BlogToDelete.Id"/>
        <input type = "hidden" asp -for= "BlogToDelete.Titel"/>
        <input type = "hidden" asp -for= "BlogToDelete.Content"/>


        <button type = "submit" class= "btn btn-danger" > Slet </button >
        <a asp - page = "/Blogs/Index" class= "btn btn-secondary" > Annuller </a >
        </form >
