html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.nav.nav-underline .nav-link {
    color: black;
    padding-bottom: .5rem;
    border-bottom: 2px solid transparent;
    transition: border-color .2s;
}

.nav.nav-underline .nav-link:hover,
.nav.nav-underline .nav-link:focus {
    color: blue;
    border-bottom-color: rgba(0, 0, 0, 0.5);
}
