@page
@model Hilerrøds_sejle.Pages.Både.OpretModel
@{
}

<h1>Opret Båd</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="NytBåd.BådType" class="control-label"></label>
        <input asp-for="NytBåd.BådType" class="form-control" />
        <span asp-validation-for="NytBåd.BådType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NytBåd.Model" class="control-label"></label>
        <input asp-for="NytBåd.Model" class="form-control" />
        <span asp-validation-for="NytBåd.Model" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NytBåd.SejlNummer" class="control-label"></label>
        <input asp-for="NytBåd.SejlNummer" class="form-control" />
        <span asp-validation-for="NytBåd.SejlNummer" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NytBåd.BådLængde" class="control-label"></label>
        <input asp-for="NytBåd.BådLængde" class="form-control" />
        <span asp-validation-for="NytBåd.BådLængde" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NytBåd.BådHøjde" class="control-label"></label>
        <input asp-for="NytBåd.BådHøjde" class="form-control" />
        <span asp-validation-for="NytBåd.BådHøjde" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NytBåd.ByggeÅr" class="control-label"></label>
        <input asp-for="NytBåd.ByggeÅr" class="form-control" />
        <span asp-validation-for="NytBåd.ByggeÅr" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NytBåd.BådNavn" class="control-label"></label>
        <input asp-for="NytBåd.BådNavn" class="form-control" />
        <span asp-validation-for="NytBåd.BådNavn" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Opret" class="btn btn-primary" />
    </div>
</form>

