@page
@model Hilerrøds_sejle.Pages.Medlemmer.SletModel
@{
    ViewData["Title"] = "Slet Medlem";
}

<h1>Her kan du slette et medlem</h1>

<hr />

<h4>Er du sikker på at du vil slette et medlem for evigt (til tidernes ende)?</h4>

<div>
    <h5>Medlemmer</h5>
    <dl>
<dt>Navn</dt>
<dt>Email</dt>
<dt></dt>
    </dl>

</div>