@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex flex-row gap-2 container">
    <div class="frontpage-image-container">
        <img src="images/frontpage.png" class="frontpage-image rounded" alt="logo">
    </div>
    <div class="container d-flex flex-column gap-2 px-3">
        <h1 class="heading"><span class="badge bg-secondary">Welcome</span></h1>
        <p class="frontpage-text">Catch the Wind, Find Your Freedom.</p> 
    </div>
</div>
