@page
@model Hilerrøds_sejle.Pages.Events.IndexModel
@{
}

<h2>Events</h2>
<ul>
    <a asp-page="/Events/Opret" class="btn btn-success mb-3">Opret nyt Event</a>
    @foreach (var e in Model.Events)
    {

        <li>
            <strong>@e.Navn</strong> - @e.Tidspunkt.ToString("dd.MM.yyyy HH:mm")
            <!-- Slet-knap -->
            <a asp-page="/Events/Slet" asp-route-id="@e.Id" class="btn btn-danger btn-sm ms-2">
                Slet
            </a>
        </li>
    }
</ul>
